body{background:#000;}

/* index page style */
/* header{width: 15%; height: 100vh; position: fixed; margin-left: 5%; margin-right: 65%; background: #ddd; display:none;} */

.searchWrap{width: 100%; height: auto; position: relative;}
.searchWrap .search-box{width: 100%; height: auto; position: relative;}
.searchWrap .search-box .searchInput{width: 40%; height: 35px; border: none; margin: 0; align-items: center; justify-content: center; margin-left: 28%; margin-top: 35%; color: #000; padding-left: 10px;}
.searchWrap .search-box input::placeholder{color: #bbb;}
.searchWrap .search-box .sendBtn{width: 35px; height: 35px; font-size: 25px; border:none; background: #fff;}


